# Risk Aggregation POC - PLTs

This notebook reads can be used to read in multiple PLTs, rollup the PLTs to an aggregate PLT, and generate statistics and EP metrics from the PLTs.

-----

### Install necessary libraries

In [1]:
# %pip install pandas
# %pip install numpy
# %pip install pyarrow
# %pip install fastparquet


# Install to connect to AWS S3
# %pip install boto3
# %pip install botocore==1.22.5
# %pip install s3fs
# %pip install fsspec

### Import necessary libraries

In [2]:
import os
import sys
import pandas as pd
import numpy as np
import aggregationtools.plt
import aggregationtools
from aggregationtools.plt import PLT
from aggregationtools import plt_calculator
import glob

### Import data from AWS S3
AWS credentials may be provided explicitly with s3fs.S3FileSystem,
but it is more secure to exclude the credentials from the code.
Instead use the AWS CLI to `aws configure` credentials.

In [3]:
# import s3fs

# s3 = s3fs.S3FileSystem(anon=False)
# files = s3.glob('s3://fannie-mae-phase-3/03 Data Aggregation POC/01 Test/test_4/split/*.parquet')
# plts = pd.concat([pd.read_parquet('s3://' + fp) for fp in files])

### Import local data
Replace SCENARIO_FOLDER with scenario you'd like to run.

In [4]:
path = os.path.join('AggregationPOCScenarios', 'FLOOD_NEW_YORK', '')
files = glob.glob(path + '*.parquet')
plts = pd.concat([pd.read_parquet(fp) for fp in files])

### Create PLT from imported data
number_of_simulations to include number of period simulations and number of samples

In [5]:
json_test = plts.to_dict(orient='records')
original_plt = aggregationtools.plt.PLT(data = json_test, number_of_simulations = 800000*7)
original_plt.plt.head(5).style

See that number of sumulations has been set for the PLT:

In [6]:
original_plt.simulations

5600000

### Group account PLTs

In [7]:
grouped_plt = plt_calculator.group_plts(original_plt)
grouped_plt.plt.head(5).style

### Rollup PLT

In [8]:
rolled_up_plt = plt_calculator.roll_up_plts(original_plt)
rolled_up_plt.plt.head(5)

  PeriodId        Weight           Loss
0        1  1.785714e-07      28.554314
1        5  1.785714e-07   86582.347290
2        8  1.785714e-07  330429.864529
3       11  1.785714e-07   27008.981184
4       16  1.785714e-07     678.495681

### Calculate statistics from rolled up PLT

In [9]:
aal = rolled_up_plt.get_aal()
std = rolled_up_plt.get_standard_deviation()
covvar = rolled_up_plt.get_covvar()
print('AAL: ' + aal.astype(str))
print('STD: ' + str(std))
print('CovVar: ' + str(covvar))

AAL: 23697.326601278914
STD: 106996.69164219059
CovVar: 4.515137654237173

### Calculate AEP metrics from PLT

In [10]:
aep = plt_calculator.calculate_aep_curve(grouped_plt.plt, grouped_plt.simulations)
aep_metrics = aep.curve['Loss'][aep.curve['Loss'].index.isin([1/x for x in aep.RETURN_PERIODS])]
aep_metrics.index = np.reciprocal(aep_metrics.index)
aep_metrics = aep_metrics.rename_axis("Return Period").sort_index(axis=0, ascending=False)

# Return AEP results
aep_metrics.to_frame().style.format("{:,.0f}")

### Calculate OEP metrics from PLT

In [11]:
oep = plt_calculator.calculate_oep_curve(grouped_plt.plt, grouped_plt.simulations)
oep_metrics = oep.curve['Loss'][oep.curve['Loss'].index.isin([1/x for x in oep.RETURN_PERIODS])]
oep_metrics.index = np.reciprocal(oep_metrics.index)
oep_metrics = oep_metrics.rename_axis("Return Period").sort_index(axis=0, ascending=False)

# Return OEP results
oep_metrics.to_frame().style.format("{:,.0f}")